In [167]:
!pip install -U deep-translator

Collecting deep-translator
  Downloading deep_translator-1.11.4-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.9.1 in /Users/thomasheigl/.pyenv/versions/3.10.6/envs/smart_food_diary/lib/python3.10/site-packages (from deep-translator) (4.12.3)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in /Users/thomasheigl/.pyenv/versions/3.10.6/envs/smart_food_diary/lib/python3.10/site-packages (from deep-translator) (2.31.0)
Requirement already satisfied: soupsieve>1.2 in /Users/thomasheigl/.pyenv/versions/3.10.6/envs/smart_food_diary/lib/python3.10/site-packages (from beautifulsoup4<5.0.0,>=4.9.1->deep-translator) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/thomasheigl/.pyenv/versions/3.10.6/envs/smart_food_diary/lib/python3.10/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/thomasheigl/.pyenv/versions/3.10.6/envs/smart_food_diary/lib/python3.10/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/thomasheigl/.pyenv/versions/3.10.6/envs/smart_food_diary/lib/python3.10/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/thomasheigl/.pyenv/versions/3.10.6/envs/smart_food_diary/lib/python3.10/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2024.2.2)
Downloading deep_translator-1.11.4-py3-none-any.whl (42 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.3/42.3 kB 3.4 MB/s eta 0:00:00
Installing collected packages: deep-translator
Successfully installed deep-translator-1.11.4

In [169]:
import pandas as pd
import numpy as np
from deep_translator import GoogleTranslator

In [143]:
csvPath = '../data/food-diary-examples.csv'
df = pd.read_csv(csvPath, delimiter=';')
df

                                                german   time
0                                            0,33 cola  12:13
1                                          0,66ml Cola  11:37
2                                       0.75 l hohes C  23:23
3                                    1 Aufbackbrötchen   9:35
4                             1 bot mit Käse 1 Tee 0,4   9:50
..                                                 ...    ...
276                                zwei halbe Brötchen  06:20
277  zwei Scheiben Dinkel Toast, eins mit Marmelade...   8:00
278  zwei Scheiben Dinkel Toast, eins mit Marmelade...   10:6
279  zwei Scheiben, Dinkel Toast mit Krabben, Salat...  09:45
280  zwei Scheiben, Eiweiß, Brot, Avocado und ein E...  10:00

[281 rows x 2 columns]

# Preprocess Time

In [144]:
# Some of the time values are not in the correct format
df['time'] = df['time'].str.replace('.', ':')
df['time'] = df['time'].str.replace(' Uhr', '')
df['time'] = df['time'].apply(lambda x: "0:0" if x is np.nan else x)
df['time'] = df['time'].apply(lambda x: f"{int(x)}:00" if ':' not in str(x) else x)

In [145]:
pd.to_datetime(df['time'], format='%H:%M')

0     1900-01-01 12:13:00
1     1900-01-01 11:37:00
2     1900-01-01 23:23:00
3     1900-01-01 09:35:00
4     1900-01-01 09:50:00
              ...
276   1900-01-01 06:20:00
277   1900-01-01 08:00:00
278   1900-01-01 10:06:00
279   1900-01-01 09:45:00
280   1900-01-01 10:00:00
Name: time, Length: 281, dtype: datetime64[ns]

In [147]:
df['hour'] = df['time'].str.split(':').apply(lambda time: int(time[0]))
df['minute'] = df['time'].str.split(':').apply(lambda time: int(time[1]))
df

                                                german   time  hour  minute
0                                            0,33 cola  12:13    12      13
1                                          0,66ml Cola  11:37    11      37
2                                       0.75 l hohes C  23:23    23      23
3                                    1 Aufbackbrötchen   9:35     9      35
4                             1 bot mit Käse 1 Tee 0,4   9:50     9      50
..                                                 ...    ...   ...     ...
276                                zwei halbe Brötchen  06:20     6      20
277  zwei Scheiben Dinkel Toast, eins mit Marmelade...   8:00     8       0
278  zwei Scheiben Dinkel Toast, eins mit Marmelade...   10:6    10       6
279  zwei Scheiben, Dinkel Toast mit Krabben, Salat...  09:45     9      45
280  zwei Scheiben, Eiweiß, Brot, Avocado und ein E...  10:00    10       0

[281 rows x 4 columns]

# Translate to English

In [174]:
trans = GoogleTranslator(source='de', target='en')

df['english'] = df['german'].apply(trans.translate)

df

# Save back to CSV

In [ ]:
df.to_csv(csvPath)